<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
      </head>
    <body>        
        <div >
            <h1>AutoQuant</h1>
            <form class="content" action = "/" method="POST">
                <table>
                    <tr>
                        <th>Coin One</th>
                        <th>Coin Two</th>
                        <th>Time Period</th>
                        <th><input class="submitButton" type="submit" value="Launch AutoQuant"/></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="coinOne">
                                {% for coin in currencies %}
                                <option id="coinOne" value="{{coin}}">{{coin}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="coinTwo">
                                {% for coin in currencies %}
                                <option id="coinTwo" value="{{coin}}">{{coin}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="period">
                                {% for period in timePeriods %}
                                <option id="period" value="{{period}}">{{period}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>                
                </table>

                <table>
                    <th>    
                        <tr>
                            <td>
                                Indicator
                            </td>
                            <td>
                                Buy
                            </td>
                            <td>
                                Sell
                            </td>
                        </tr>
                    </th>
                    {% for i in range(momentumIndicators|length) %}
                        <tr>
                            <td>
                                <select name="{{i}}">
                                    {% for indicator in momentumIndicators %}
                                    <option value="{{indicator}}">{{indicator}}</option>
                                    {% endfor %}
                                </select>
                            </td>

                            <td>
                                <input type="number" id="buy_{{indicator}}" name="{{i}}_buy" value="0">
                            </td>

                            <td>
                                <input type="number" id="sell_{{indicator}}" name="{{i}}_sell" value="0">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button class="add">
                                Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </body>
</html>