{% extends "main.html" %}

{% block content%}
    <div class="containter">

        <div class="content">
            
            <form action = "/run" method="POST">
                <table>
                    <tr>
                        <th>Coin</th>
                        <th>Time Period</th>
                        <th>Amount</th>
                        <th><input class="submitButton" type="submit" value="Launch AutoQuant"/></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="coin">
                                {% for coin in currencies %}
                                <option id="coin" value="{{coin}}">{{coin}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="period">
                                {% for period in periods %}
                                <option id="period" value="{{period}}">{{period}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" id="amount" name="amount" value="0">
                        </td>
                    </tr>                
                </table>
                <table>
                    <tr>
                        <td>Signals needed to buy:  <input type="number" id="amount" name="amount" value="0"></td>
                        <td>Signals needed to sell: <input type="number" id="amount" name="amount" value="0"></td>
                    </tr>
                </table>
                <table id="indicators">
                    <th>    
                        Indicator
                    </th>
                    <tr>
                        <td>
                            <select name="0">
                                {% for indicator in indicators %}
                                <option value="{{indicator}}">{{indicator}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <button id="add" class="add" onclick="Hello()" >
                Add
            </button>
        </div>
    </div>

{% endblock%}