{% extends "main.html" %}

{% block content%}
    <div class="containter">

        <div class="content">
            Coin: {{data[0]}}<br>
            Period: {{data[2]}}<br>
            Amount: {{data[3]}}<br>
        {%for i in range(4, data|length)%}
            -----<br>
            Indicator: {{data[i][0]}}<br>
            Buy: {{data[i][1]}}<br>
            Sell: {{data[i][2]}}<br>
            -----<br>
        {% endfor %}
        </div>
    </div>

    <form action = "./" method="POST">
        <input class="submitButton" type="submit" value="Close"/>
    </form>
{% endblock%}