*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: right;
    padding: 0px;
}

.content{
    width: 50%;
    display: flex;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    padding:0px 15px;
    padding-bottom: 15px;
    flex-direction: column;

}

table {
    padding: 5px;
    width: 100%;
    text-align: center;
}

th {
    padding: 5px;
    border-bottom: solid 1px;
}

td {
    padding: 5px;
}

select{
    width: 100%;
}
.submitButton{
    width: 100%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16;
    border: none;
    background-color:forestgreen;
    color: white;
}
.submitButton:hover{
    background-color:rgb(55, 158, 55);
}
.add{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color:forestgreen;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.add:hover{
    background-color:rgb(55, 158, 55);
}