*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: right;
    padding: 0px;
    padding-bottom: 50px;
}
h1:hover{
    color: #d49b00;
    cursor: pointer;
}
.content{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding:0px 15px;
    padding-bottom: 15px;
    flex-direction: column;
    background-color: #3d3d3d;

}

table {
    padding: 5px;
    width: 100%;
    text-align: center;
}

th {
    padding: 5px;
    border-bottom: solid 1px;
}

td {
    padding: 5px;
}

select{
    width: 100%;
}
.submitButton{
    width: 100%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16;
    border: none;
    background-color:#d49b00;
    color: white;
}
.submitButton:hover{
    background-color:#dba000;
}
.add{
    height: 100%;
    align-self: center;
    width: 25%;
    padding: 10px;
    background-color:#d49b00;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.add:hover{
    background-color:#dba000;
}

body{
    padding:0px !important;
    margin: 0px !important;
}

#particles-js{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -100;
    background-color: #212121;
}